# UniROS requirements

# To install required packages use:
# python3 -m pip install -r requirements.txt

# Gym library for reinforcement learning environments
gymnasium==0.29.1
gymnasium_robotics==1.2.4